body {
    width:300px;
    text-align: center;
    font-weight: 600;
}

#progress_bar {
    display: none;
}

.popup_buttons {
    text-decoration:none;
    background-color:#14171A;
    color:#FFFFFF;
    padding:10px;
    border:none;
    border-radius: 10px;
}

.message {
    color:red;
}

.data_sent {
    color:green;
    font-weight: bold;
}

.left_box {
    float:left;
}

.right_box {
    float:right;
    margin-right:20px;
}

.form_item {
    padding:6px 0px;
}

.form_item input{
     width:200px;
   text-align:center;
}